<div class="container">
    <%= form_tag food_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control ml-1",
            placeholder: "Choose a food or ingredient"
        %>
        <%= submit_tag "Search", class: "btn btn-primary ml-1 mt-1" %>
    <% end %>

    <div class="cards row ml-1">
        <div class="card mt-4" style="width: 18rem;">
            <%= image_tag "https://spoonacular.com/recipeImages/#{@img_output}-480x360.jpg", class: "card-img-top"%>
            <div class="card-body">
                <h5 class="card-title"><%= @title_output %></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                
            </div>
        </div>

        <div class="card mt-4" style="width: 18rem;">
            <%= image_tag "https://spoonacular.com/recipeImages/#{@img_outputb}-480x360.jpg", class: "card-img-top"%>
            <div class="card-body">
                <h5 class="card-title"><%= @title_outputb %></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                
            </div>
        </div>

        <div class="card mt-4" style="width: 18rem;">
            <%= image_tag "https://spoonacular.com/recipeImages/#{@img_outputc}-480x360.jpg", class: "card-img-top"%>
            <div class="card-body">
                <h5 class="card-title"><%= @title_outputc %></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                
            </div>
        </div>
    </div>
</div>





